[2017-08-03 22:03] leo opened #1 "Support for windows using RELEASES"
`/update/:platform/:version/RELEASES`

[2017-08-04 13:18] #1 closed, assigned to nobody

[2017-08-04 20:57] dbuezas opened #2 "Authentication"
Great stuff! Any plans for adding authentication?

[2017-08-04 22:25] leo opened #3 "Ability to switch between pre- and published releases"
Needed for the new hyper release channel!

[2017-08-04 22:26] leo commented on #2
Why? For private repos?

[2017-08-05 00:34] Meadowcottage opened #4 "Usage docs to include include dev environment check"
Currently the usage docs gives you the code needed to add the auto-updater to an app.
But in dev environment, it of course causes an error.
As such, why not have either a disclaimer or update the docs to include something like:
[code]

[2017-08-05 02:24] dbuezas commented on #2
yes, for private repos

[2017-08-05 07:37] harisvsulaiman opened #5 "Support for Linux"
Linux support would be awesome to have, since updating electron apps in Linux is not fun, especially if you have to work in a low connectivity area.

[2017-08-05 18:05] #4 closed

[2017-08-05 18:05] leo commented on #2
This doesn't make sense, because Hazel is proxying the assets from GitHub Releases. So if your repository is private, the user can't access the releases.

[2017-08-05 18:05] #2 closed

[2017-08-05 18:19] #3 closed

[2017-08-09 07:00] king6cong opened #8 "typo in project description"
`Lighweight update server for Electron apps`
should be
`Lightweight update server for Electron apps`

[2017-08-09 08:31] leo commented on #8
Fixed. Thank you!

[2017-08-09 08:31] #8 closed

[2017-08-11 13:06] nblackburn opened #9 "Support for Webhooks"
Instead of polling on a given interval, it might be more efficient to use webhooks instead so when a release is published, it would send a request to a endpoint which will update it's cache.

https://github.com/:user/:repo/settings/hooks/new

[2017-08-11 18:24] leo commented on #9
The reason why we have chosen not to go with webhooks (like Nuts, for example) is that they simply don't scale that well:

Assuming that you have 10 instances of Hazel up and running, only one instance of those will retrieve the notice that a new release was created over the webhook. In turn, only that single instance will get the new application update.

That's why we're polling. 😊

[2017-08-11 18:39] nblackburn commented on #9
I feel that is more a problem with how this server is implemented that one inherited from the use of webhooks.

If you wanted something more scalable, then you would have a master service which receives the ping then notifying each of the platform nodes of the update.

[2017-08-11 19:50] leo commented on #9
Talking about [Now](https://zeit.co/now)'s way of scaling deployments, instances are completely separated from each other and therefore not able to determine whether or not other ones exist, where they exist and what their status is.

Since I don't think that this will change in the near future and we're basically focused on making it work perfectly on [Now](https://zeit.co/now) first, it doesn't

[2017-08-11 19:54] nblackburn commented on #9
I fully understand and appreciate that, i am just stating in general independent of platform used.

[2017-08-11 23:38] leo commented on #9
Actually we only need to run [this](https://github.com/zeit/hazel/blob/f2097713220933ff1a3de01f5ada781f295dc54a/lib/index.js#L14) when a certain path (let's say `/refresh`) is accessed. In addition, we need a new environment variable for a secret to compare with the secret contained in the payload.

[2017-08-11 23:39] leo commented on #5
Electron currently [doesn't support](https://electron.atom.io/docs/api/auto-updater/#linux) linux updates.

[2017-08-11 23:39] #5 closed

[2017-08-11 23:43] nblackburn commented on #9
@leo indeed you do, i wasn't suggesting this blindly (there was reason behind it) 😄

The biggest reason i suggested it is if enough people started using this with multiple instances, you are basically a DDOS attack waiting to happen, with this, you only ever do something when needed (making it way more efficient).

[2017-08-11 23:47] leo commented on #9
That's not completely correct. With the interval mechanism, Hazel respects the limits of GitHub's API and that's far away from a possible DDoS attack (even when scaled to multiple instances).

What I just proposed only makes sense when Hazel is running on a single instance, so there won't be many use cases. But still, it's worth implementing.

[2017-08-11 23:57] nblackburn commented on #9
@leo Ah, so it does, my apologies. Yes, it's not something everyone will use but it makes your tool more flexible to a wider array of cases.

[2017-08-14 19:53] zeke opened #10 "`ACCOUNT` is an ambiguous env var name"
I didn't RTFM for hazel and just jumped in with `now -e NODE_ENV="production" zeit/hazel`. I was stopped in my tracks when ask to enter a value for `ACCOUNT`. Referring to the README I can see that this refers to "Your username or organisation name on GitHub", but if the var had a more descriptive name, I wouldn't have had to look. I would suggest something like `GITHUB_USERNAME_OR_ORG`.

[2017-08-16 17:40] zeke opened #11 "Private repos?"
Does hazel on work on public repos? Supporting private repos would required a GitHub token, which apparently is not currently required or used by hazel.

[2017-08-16 17:42] zeke opened #12 "Rate limits?"
It appears that hazel is making unauthenticated requests to the GitHub API.. is that correct?

If so, a running instance will quickly go over its unauthenticated request limit.

[2017-08-16 17:52] leo commented on #12
Check the `INTERVAL` env variable [here](https://github.com/zeit/hazel#options).

[2017-08-16 17:53] leo commented on #11
We're most likely never going to support private repositories since the assets are being downloaded directly from GitHub by the client (to save bandwidth).

In turn, the client would have to authenticate with GitHub.

[2017-08-16 17:53] #11 closed

[2017-08-16 17:54] zeke commented on #12
So.. unauthenticated requests then, right?

[2017-08-16 17:55] leo commented on #12
@zeke Correct. All unauthenticated. That's what makes Hazel so fast and powerful: It only abstracts the necessary. If you need server-side caching / private repos, there's Nuts... 😊

[2017-08-16 19:23] zeke commented on #12
I see. So hazel will only make a request to the GitHub API every `INTERVAL` minute(s), even though apps will be asking hazel for that info much more frequently.

Does every Now app get its own IP address?

[2017-08-16 20:22] leo commented on #12
Correct.

Depends. Sometimes they're on the same IP.

[2017-08-16 21:50] zeke commented on #12
I ask because unauthenticated GitHub API requests are tallied by IP. It might be worth defaulting to a longer interval to reduce the likelihood of contention across apps.

[2017-08-19 16:09] leo opened #13 "Front page should render a nice overview over cached release links"
Like this (designed by @albinekb):

<img width="634" alt="screen shot 2017-08-19 at 18 09 20" src="https://user-images.githubusercontent.com/6170607/29488370-9620914a-8509-11e7-9ac1-44e75944004c.png">

In turn, only `/download` should automatically download the latest release based on the user agent.

[2017-08-22 19:10] rishipuri commented on #10
I would like to submit a PR for this.

Is `GITHUB_USERNAME_OR_ORG` fine for the variable name or do you have any other suggestion for the name? @leo

[2017-08-28 13:19] Xstoudi opened #15 "Download counts"
Just a simple question :
Do Electron download the release from Github or from the release server ?
Don't want to mess up my downloads counts.

[2017-08-28 16:50] leo commented on #15
The app updates get downloaded from GitHub releases. You can use their API to get the download count.

[2017-08-28 16:50] #15 closed

[2017-09-02 11:57] chabou opened #16 "Support for 32/64 bits achitecture"
It would be great to have 32/x64 platform distinction.
For exemple:
`deb32`, `AppImage32`,`rpm32` and keep current platform without any suffix for 64 bits?

As of now, when a release have 2 different packages for the same platform (32 bits and 64 bits), Hazel redirect to last indexed package.

[2017-09-02 11:58] chabou commented on #16
I'll maybe make a PR later!

[2017-09-20 16:22] Stanzilla opened #19 "Windows 10 not detected properly"
UserAgent Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/63.0.3218.0 Safari/537.36

gives No download available for your platform!

[2017-10-11 21:37] leo opened #20 "Consider making the pre channel also deliver stable releases"
If there's no prerelease, we maybe should deliver a stable release.

[2017-10-11 21:39] chabou commented on #20
It should be default behaviour imo with a flag to disable it.

[2017-10-17 13:17] dominiklessel commented on #11
@leo I've got a first working version of hazel which supports private repos over here: https://github.com/mifitto/hazel I a pull request something you're interested in?

[2017-10-17 15:09] leo commented on #11
@dominiklessel Yesss! 😍

[2017-10-17 15:26] dominiklessel commented on #11
Great 😄 I will test it internally first and try to find out if its working as expected!

[2017-10-17 21:50] zeke commented on #11
nice

[2017-10-19 15:48] dbuezas commented on #2
my use case is an internal app not for the open public, if you have any recommendation for that it would be great

[2017-10-24 13:46] leo commented on #11
Just landed in https://github.com/zeit/hazel/pull/23

[2017-10-25 21:24] nparsons08 opened #24 "Fails after missing token"
What's up with the token requirement? It's not clear at all... and it exits out of the deployment if you don't provide one.

[2017-10-25 21:26] leo commented on #24
cc @dominiklessel any ideas?

[2017-10-25 21:28] nparsons08 commented on #24
For what it's worth, I forked the project and removed the requirement. It deployed without any issues.

[2017-10-25 21:31] leo commented on #24
@nparsons08 Can you share the command you used to deploy it?

[2017-10-25 21:35] nparsons08 commented on #24
Sure thing. I used my forked version:

[code]

[2017-10-25 21:47] nparsons08 commented on #24
@leo I'm using this for a (now) private repo. What token is that and how do I set it after the fact?

[2017-10-26 05:45] dominiklessel commented on #24
I've never deployed something with now and totally missed the fact that NOW_URL is always set over there. I've removed the check and addressed the issue in PR #25

Just to clarify: Hazel needs the TOKEN (https://github.com/settings/tokens) to access the private repo. You can create a new token here: https://github.com/settings/tokens/new

[2017-10-26 13:22] #24 closed

[2017-10-31 15:43] sindresorhus opened #26 "Version 1.3.0 and above are broken"
I deployed the latest version using:

[code]

And to my surprise the result of going to https://kap-beta-updates.now.sh/update/macos/2.0.0-beta.0 was:

[code]

Notice how the `url` links to the GitHub asset response and not the binary itself.

With 1.2.2 it works correctly:

[code]

So 1.2.2 works correctly, but 1.3.0 does not, so something must have broken between those versions.

[2017-10-31 15:56] #26 closed

[2017-10-31 15:56] leo commented on #26
Should be fixed in [1.3.3](https://github.com/zeit/hazel/releases/tag/1.3.3) - please confirm!

[2017-10-31 15:57] sindresorhus opened #27 "Tests"
Would be nice to have some tests to prevent future regressions.

Example: https://github.com/sindresorhus/gh-latest-repos/blob/master/test.js

[2017-10-31 15:59] leo commented on #27
@dominiklessel You said you would be up for tackling this, still interested? 😊

[2017-10-31 16:02] sindresorhus commented on #26
Yes, works. Thanks for fixing :)

[2017-10-31 16:04] dominiklessel commented on #27
@leo I will give it a shot tomorrow.

[2017-10-31 16:07] leo commented on #27
@dominiklessel Wonderful, thank you!

[2017-11-09 10:28] karanjthakkar opened #29 "Give .dmg preference in case of mac user agent"
I was wondering if there would be interest in having a way to provide downloading a `dmg` instead of the `zip` file for OSX users. The issue with the `zip` file is that the it usually stays in the `~/Downloads` folder which makes it impossible for auto updates to work (https://github.com/Squirrel/Squirrel.Mac/pull/186, https://github.com/Squirrel/Squirrel.Mac/issues/182).

Nuts does something simi

[2017-11-21 17:11] leo commented on #27
Landed! Thanks to @timneutkens

[2017-11-21 17:11] #27 closed

[2017-11-21 17:14] leo commented on #19
Chrome 62 is the latest version, so you must be on a beta/canary version... 😊

[2017-11-21 17:14] #19 closed

[2017-11-21 17:20] Stanzilla commented on #19
@leo so? Why would Chrome version be relevant for OS detection?

[2017-11-21 18:23] leo commented on #19
@Stanzilla Anything can change in beta versions. It works fine on Chrome 62 on Windows 10.

[2017-12-11 20:28] leo commented on #13
Closed in favour of https://github.com/zeit/hazel/pull/35

[2017-12-11 20:28] #13 closed

[2017-12-19 11:33] maotora opened #36 "Support for GitLab, Gitea?"
Hello,

Do you have support for other Git vendors like GitLab & Gitea?

If no, do you have any plans?

If yes, Can I see some examples on using it.

Thanks.

[2018-01-25 22:36] KammererTob opened #39 "Private repo not working"
Not sure if the documenation is not accurate enough or i am doing something wrong, but i cannot get the setup to run properly.
This is my command:
`now -e TOKEN=@github-token -e ACCOUNT="MyAccount" -e REPOSITORY="MyRespository" -e PORT="80" zeit/hazel`

This is the message i get immediatly and i need to supply the password for my ssh file:

And this is the error i am getting after ~30 seconds:

Wh

[2018-01-26 16:18] KammererTob commented on #39
I initially closed the issue, because i thought that it wasn't possible to proxy a private repo through to the application to update, but now i read that it should indeed be possible. So additionally to the problem above: Is it possible to use a private GitHub Repository with Hazel, without needing to own a server for a proxy.

[2018-01-29 13:27] onekiloparsec commented on #39
I have the exact same question. Using the following workflow:

```now secret add github_api_token <my private token>``` (scope: `repo`)

Then: `now -e TOKEN=@github_api_token zeit/hazel`

I get:

[code]

And when visiting the deploy, I get a 404 when tryingn to access a download.

[2018-01-29 13:33] KammererTob commented on #39
I tried to debug `now` with a **public**  repository and this is what it says:

Error: An unexpected internal error occurred
    at module.exports.EventEmitter.create.deployment.retry (C:\snapshot\now-cli\dist\now.js:437:15)
    at <anonymous>
    at process._tickCallback (internal/process/next_tick.js:188:7)

Error: An unexpected internal error occurred
    at module.exports.EventEmitter.create.d

[2018-01-29 13:35] onekiloparsec commented on #39
I removed my comment because I actually succeeded, with a private repo. I use the workflow: `now secret add github_token <token>` then, `now -e TOKEN=<github_token> zeit/hazel` and... it worked.

[2018-01-29 13:38] KammererTob commented on #39
@onekiloparsec Yeah i think my problem is not related to the private repository since i also cannot deploy when using a public repository.

[2018-01-30 22:21] mcverticchio commented on #39
I generated a token with private repo access.  I am on a team that has access to our project. I was not able to deploy an update server following the workflow above, but my coworker was able to following the same steps.  Sounds like a bug?

My error:

Workflow:
`now secret add my_token <token>`
`now -e TOKEN=my_token zeit/hazel`

[2018-02-01 08:15] sindresorhus opened #41 "The `/download` route should return the DMG and not ZIP on macOS"
The `/download` route is useful for providing a direct link to the latest release, but currently, it returns the ZIP file, which is only meant for updates, and not the DMG file, which is meant for end-users.

[2018-02-02 17:55] leo commented on #41
Interesting take on this @sindresorhus! 😊

I think I agree with it, since not providing an installer often leads to our customers opening the application from the "Downloads" directory.

But so far, we simply used .zip because Safari unzips by default, so you directly get what you want into your "Downloads" folder: The application - no further setup required...

[2018-02-03 07:13] sindresorhus commented on #41
Users just running the app from `Downloads` leads to other problems too, see https://github.com/sindresorhus/electron-util#enforcemacosapplocation

[2018-02-04 01:54] leo commented on #41
@sindresorhus I didn't mean that it's a good idea to run it in the Downloads directory, but rather good for users to directly get what they want and then drag it to any place from there.

But yes, anyway, I agree with you - we should be serving the `.dmg` on `/download` and the `.zip` only for the updates.

[2018-02-13 12:16] bukinoshita opened #42 "The `/` is downloading a `.dms` file"
When accessing `/` route it downloads a `.dms` file instead of an overview page showing the cached repository with the different available platforms and file sizes.

[Hyper.is example](https://releases.hyper.is)

[2018-02-13 19:25] leo commented on #42
Oh, that's a bug! 🤔

[2018-02-21 12:17] bukinoshita commented on #42
I guess it's fixed 🤔

[2018-02-21 12:17] #42 closed

[2018-03-06 20:30] dpgraham commented on #20
Was this ever implemented? If not I'd be interested in possibly taking this on. We just started using zeit hazel for Appium Desktop and this would be a helpful enhancement.

[2018-04-04 03:00] jlongster commented on #41
I'd love this too. Any update on it? I need this so if nobody else is going it I'll probably try to do it myself.

[2018-11-14 03:26] dalbodeule opened #48 "When hazel works with express.js"
I want to use hazel with express.js. But when I use it with express.js I do not know how to pass the necessary variables (eg repository or username). Can you tell me what to do?

[2018-11-30 20:33] styks1987 opened #49 "Depreciated under v2"
`now -V 1 zeit/hazel`

[2018-12-05 23:34] safinn commented on #48
You need to include `REPOSITORY` and `ACCOUNT` environment variables to define which repository to get releases from.

[2019-01-07 16:57] HaNdTriX commented on #41
Any progress on this?

[2019-01-31 16:36] Aarbel opened #55 "How to use hazel with github Team's private repository ?"
I've got this error in the `Now project's logs`:

[code]

Hazel doesn't find (or doesn't have access to) the private team's repository. Do you know a way to make it work ? Thanks a lot !

[2019-02-08 22:08] safinn commented on #49
Solved by https://github.com/zeit/hazel/pull/54

[2019-03-05 12:48] hermes-project-software commented on #49
albeit it does seem that one needs to append `-e URL=NOW_URL` to any deploy as it does not _automatically_ resolve the url

[2019-03-05 12:51] hermes-project-software opened #57 "Deploy to zeit now requires "-e URL=NOW_URL""
I found that deploying without setting `-e URL=NOW_URL` leaves hazel in a fritz.

`{"error":{"code":"missing_configuration_properties","message":"Neither NOW_URL, nor URL are defined, which are mandatory for private repo mode"}}`

https://hazel-e8w92zpdf.now.sh/

[2019-03-05 12:52] hermes-project-software commented on #57
Deploying with the code works! Maybe we should update the docs?

[2019-03-06 06:51] kucaykojek commented on #57
Same issue here.

[2019-03-18 23:12] dbklabs opened #58 "missing_configuration_properties error"
I am trying to run a hazel server on Now to autoupdate an Electron app, and I am getting a ```missing_configuration_properties``` of ```Neither ACCOUNT, nor REPOSITORY are defined```, which makes no sense because that is exactly what I am specifying in my CLI command

 ```now -e ACCOUNT="dbklabs" -e REPOSITORY="macflix" -e TOKEN="<my token>" -e URL=NOW_URL```

On Friday, this was working just fine

[2019-04-01 22:02] ZeroDragon commented on #41
On chrome instead of opening it. You get a warning saying that the zip file might be malicious ...

[2019-04-04 03:48] f3d0r commented on #55
Using the `TOKEN` environment variable as specified [here](https://github.com/zeit/hazel#options) is probably what you're looking for!

[2019-04-04 10:44] Aarbel commented on #55
i'll check this week ;)

[2019-04-11 08:29] magne4000 opened #59 "Download AppImage if available and isLinux"
`/download` on linux could download `AppImage` file if there is one available, as it should work on any distrib.

[2019-04-11 12:28] euroclydon37 commented on #55
I can't get this to work. The server is returning a download url of
[code]

It seems like the `NOW_URL` isn't being set.

[2019-04-11 12:35] euroclydon37 commented on #57
The real problem is that `NOW_URL` isn't being set for some reason. @kucaykojek's solution didn't work for me because I was getting back a download url of
[code]
Which obviously doesn't work. It's _trying_ to give me this.
[code]

[2019-04-11 21:09] Aarbel commented on #55
Solved running this :
[code]

![image](https://user-images.githubusercontent.com/25119847/55993112-91b2f480-5cae-11e9-8546-94def1eefb93.png)

[2019-04-11 21:09] #55 closed

[2019-04-11 21:52] Aarbel commented on #5
any updates about that ?

[2019-04-11 21:53] Aarbel commented on #5
@leo

[2019-04-11 22:01] Aarbel opened #60 "Doc request: methodology with github releases"
Thanks again hazel teams for your work !

I saw that `now-desktop` releases are managed like that:
![image](https://user-images.githubusercontent.com/25119847/55995587-2b7da000-5cb5-11e9-8af1-a14fe3229ad2.png)

My electron-builder output looks like that:
![image](https://user-images.githubusercontent.com/25119847/55995610-418b6080-5cb5-11e9-98f0-48a90a130543.png)

Could you tell us more about the

[2019-04-11 23:05] Aarbel opened #61 "What is the url of latest .dmg or .exe ?"
![image](https://user-images.githubusercontent.com/25119847/55998504-cc248d80-5cbe-11e9-928e-78aed7a93760.png)

I want to put a direct download of the lasted version of my electron app on my website (both for mac and windows).
## What should be the right url to the hazel update server to directly download .dmg and .exe but not .zip ?

Thanks for your help !

[2019-04-13 13:00] Aarbel opened #62 "Doesn't work for Github private repo"
The routes of hazel doesn't seem to work with private repo

# DOESN'T WORK
[code]
**Error:**
`Unhandled rejection Error: Cannot find channel "latest-mac.yml" update info: HttpError: 404`

`Please double check that your authentication token is correct. Due to security reasons actual status maybe not reported, but 404.\n`

# WORKS
[code]

[2019-05-10 04:48] rikimm commented on #58
The final command has to be like this:

now -e ACCOUNT="user" -e REPOSITORY="repository" -e TOKEN="token" -e URL="https://api.github.com/repos/user/repository/releases?access_token=token"

[2019-05-10 15:23] MnxCool opened #63 "latest.yml error"
Im using electron-updater;
its throwing: `Cannot find channel "latest.yml" update info: HttpError: 404`
config:
`
const { autoUpdater } = require("electron-updater")
const server = "https://hazel.mineinfo80.now.sh/";
const feed = "${server}/update/${process.platform}/${app.getVersion()}";
`

[2019-06-03 23:39] jkmosa01 opened #64 "Can't access update/win32/:version/RELEASES"
I have created a project and set it up. Updating on MacOS works fine, but on Windows. On Windows I get the error "Remote release File is empty or corrupted." I'm pretty sure that the error is because of not being able to access <my-url>/update/win32/:version/RELEASES. When I do this the page just doesn't load and redirect to the previous url I was at.

[2019-06-13 15:08] KASOGIT commented on #61
Ping

[2019-07-11 06:49] KASOGIT commented on #62
Hello, that's certainly mean you're not providing "latest-mac.yml" in your mac release, can u check it out ?

[2019-07-11 06:53] KASOGIT opened #66 "Hazel server stay alive after being closed"
Hello, every time i close the hazel server it remains alive in the background even if it prompt "gracefully exiting", how can i achieve a complete shutdown of the app ?

<img width="535" alt="Screenshot 2019-07-11 at 08 46 38" src="https://user-images.githubusercontent.com/15908751/61028557-3ed5ff80-a3b9-11e9-89c6-5f9fc3f66751.png">
<img width="1233" alt="Screenshot 2019-07-11 at 08 51 27" src="ht

[2019-07-11 10:35] Aarbel commented on #62
I do provide latest-mac.yml

[2019-07-26 13:17] adhambadr commented on #62
https://github.com/zeit/hazel/issues/55

[2019-07-26 13:18] adhambadr commented on #62
just add URL="https://api.github.com/repos/<my-team>/<my-repo>/releases?access_token=<YOURGITHUBTOKEN>"

[2019-07-28 11:22] elmasry commented on #61
@doesdev fixed that in his fork https://github.com/doesdev/hazel/

Ref: https://github.com/zeit/hazel/pull/56

[2019-07-28 22:42] Aarbel commented on #61
@elmasry is that merged with hazel ?

[2019-07-29 17:39] elmasry commented on #61
@Aarbel nope

[2019-07-30 09:04] Aarbel commented on #61
What's the brake to merge it ?

[2019-08-19 17:58] itsnwa opened #67 "Error during build"
I'm trying to migrate to Now v2 with a new clone of this Hazel server, my config looks like this:

## `now.json`
[code]

## Now CLI
`now -e ACCOUNT="itsnwa" -e REPOSITORY="brandy" -e TOKEN="<access_token>" -e URL="<same_as_alias_in_config(https://hazel-server-qrpzcymewp.now.sh)>"`

When I look at the log in the zeit dashboard, I get this:
[code]

[2019-08-20 14:30] itsnwa commented on #67
https://github.com/zeit/hazel/pull/68

[2019-09-02 07:12] DIDICAST commented on #63
I get the same error.

[2019-09-19 14:39] Aarbel commented on #61
@AndyBitz could you add this feature ? ❤️

[2019-09-20 11:08] AndyBitz commented on #61
@Aarbel On [hyper.is](https://hyper.is/#installation) we use `/download/mac` and `/download/win`. Would that work for you?

[2019-09-20 11:11] AndyBitz commented on #61
Oh, I see that it only downloads the exe for windows, but not the dmg for mac. I'll look into it

[2019-09-20 12:57] AndyBitz commented on #61
@Aarbel this PR provides a way to download `dmg` files: https://github.com/zeit/hazel/pull/69

[2019-09-23 07:19] Aarbel commented on #61
`/download/mac` downloads a .zip (i want a .dmg),  `/download/win` downloads an .exe (so no problem about .exe)

[2019-09-23 09:51] #61 closed

[2019-09-23 13:46] Aarbel commented on #61
Thanks a lot @AndyBitz

[2019-10-02 14:51] RafalWilinski commented on #55
It still does not fully work. I admit that downloading from landing page seems fine. However, when autoupdater calls url `https://hazel.rwilinski.now.sh/update/darwin/0.0.9` it receives following JSON.
[code]

[2019-10-02 16:26] Auxxxxlx opened #75 "What this.latest is {} ?"
<img width="931" alt="截屏2019-10-0300 26 39" src="https://user-images.githubusercontent.com/55738135/66062698-7990a380-e574-11e9-8649-12fbeee9d4eb.png">

[2019-10-02 16:57] #75 closed

[2019-10-15 18:16] cap10morgan commented on #62
This seems dicey from a security perspective and is really just working around a bug. See #76 for a better fix.

[2019-10-23 16:47] itsnwa commented on #41
There are currently issues with electron-builder(?) on macOS Catalina that makes apps unable to open when it is extracted from zip (works fine with dmg). This change would fix that problem ✨

I tried pulling down the latest with the changes from #69 but getting an error accessing the `download/dmg` route: `No download available for your platform`. (the dmg does exist in the release)

[2019-10-24 11:43] julienma commented on #41
Just to say that I'm using PR #53 in production since a few months now, and it works fine for me.

[2019-10-30 12:05] mashrulhaque opened #77 "Unhandled rejection: TypeError: Cannot convert undefined or null to object"
After deploying hazel, I get the following error:

2019-10-30T12:02:44.603Z	3adf55a3-0bba-4708-98c7-054a6a66ea2e	Unhandled rejection: TypeError: Cannot convert undefined or null to object
    at Function.keys (<anonymous>)
    at exports.overview (/var/task/lib/routes.js:185:12)
    at <anonymous>
    at process._tickDomainCallback (internal/process/next_tick.js:228:7)
Duration: 263.02 ms  Billed

[2019-10-30 12:24] mashrulhaque commented on #77
My repo did not have any releases. Creating a release solved the issue. closing the issue

[2019-10-30 12:24] #77 closed

[2019-11-23 15:41] Janealter opened #79 "Problem with downloading release from private repo"
Seems like `browser_download_url ` not suitable for downloading release from private repo via API. This endpoint ignores `Authorization` header and always returns 404 (maybe it need cookie authorization). I found info about [GET /repos/:owner/:repo/releases/assets/:asset_id](https://developer.github.com/v3/repos/releases/#get-a-single-release-asset) in Github docs. I think this endpoint designed f

[2019-12-11 14:20] Vinipux322 opened #80 "Problem Downloading Releases from Private Github Repos"
START RequestId: 2c5ddea1-eb27-41dc-9b0a-05688d6d0bfe Version: $LATEST
2019-12-11T14:14:26.514Z	2c5ddea1-eb27-41dc-9b0a-05688d6d0bfe	Unhandled rejection: Error: GitHub API responded with 401 for url https://api.github.com/repos/Vinipux322/urp-eup-converter/releases?per_page=100
    at retry (/var/task/lib/cache.js:89:17)
    at <anonymous>
    at process._tickDomainCallback (internal/process/next_

[2019-12-11 15:24] jamo commented on #80
Are you passing in the GitHub API token with correct permissions?
See `TOKEN` in https://github.com/zeit/hazel#options

[2019-12-13 21:28] Vinipux322 commented on #80
Yep, i fixed it, thx

[2019-12-13 21:28] #80 closed

[2019-12-13 22:40] Vinipux322 opened #81 "Problem downloading RELEASES from private repos"
message | "Bad credentials"
-- | --
documentation_url | "https://developer.github.com/v3"

download/win32

[2019-12-16 14:13] rwwagner90 commented on #41
@leo is there any chance we could work with @julienma and get this fixed up? I tried his PR, but it doesn't seem to work for me, unless there is some additional setup I missed.

[2020-01-23 20:07] beninada commented on #41
Would be great to have the option of downloading pkg as well.

[2020-01-27 03:42] jsfuentes commented on #55
So I actually got it to work by setting the URL to the update server url, not the github API. The update server works with private repos by serving as a proxy to github releases(see https://github.com/zeit/hazel/pull/23):

now -e ACCOUNT=<YourTeamOrPrivateUserName> -e REPOSITORY=<YourRepoName> -e TOKEN=<YOURGITHUBTOKEN> -e URL="https://<THE DOMAIN OF YOUR UPDATE SERVER>.now.sh

[2020-02-05 12:56] saaduw commented on #64
We're having the same issue.
Windows app won't update because of this.

[2020-02-06 06:47] saaduw commented on #64
I fixed this issue myself by updating the `cacheReleaseList` function in the `cache.js` file as follows:

[code]

The response from Github API is an octet stream and needs to be buffered and then needs to be decoded using utf-8.

I hope this helps and the dev team adds it to the next update.

[2020-02-06 23:55] #41 closed

[2020-02-06 23:55] #29 closed

[2020-02-13 08:16] Supamiu opened #85 "Invalid urls for RELEASES file generated for windows updates"
When checking the REALESES file download, with updated links to be able to download nupkg files properly, I saw that the nupkg links were not all edited, and were not mathcing the updates.

**Observed behavior**:

 - My releases: https://github.com/Supamiu/ffxiv-teamcraft/releases
 - The file you get from `https://hazel.supamiu.now.sh/update/win32/7.0.0-beta.7/RELEASES`:

[code]

**Expected behavi

[2020-02-13 16:15] ScarVite commented on #63
same

[2020-02-17 15:59] nathanvogel opened #86 "Getting a 404 stacktrace when fetching update"
Hi,
I'm using Hazel to auto-update a Windows app built with electron-forge.
autoUpdater fails to download the update a throws a 404, opening an error dialog. Any idea why?

Here's the relevant SquirrelSetup.log part:

[code]
I don't understand why it would look for the 0.1.6 release under the 0.1.5 folder...

My update code (onReady):
[code]

Any help would be appreciated!

[2020-02-17 16:17] nathanvogel commented on #86
Might be a duplicate of #86

[2020-02-17 18:01] nathanvogel commented on #85
I had the same problem and made a fix. Feel free to use [my branch](https://github.com/nathanvogel/hazel/tree/bug/fix86) or copy-paste my changes of #87, if it doesn't get merged quickly enough.

[2020-02-18 05:35] AndreyZakatov commented on #63
Hello, mb you have double-"/" ? Cuz your server constant ended on '/' and feed is {server}/..

Seems like result feed is https://hazel.mineinfo80.now.sh//update...

[2020-02-22 12:00] #86 closed

[2020-02-26 01:24] dr3adx commented on #63
CAN ANYONE FUCKING ANSWER FROM THE FUCKING CREATORS U PIECES OF TRASH, EVERYONE HAS SAME ERROR, AND STUPID DUMB DOCUMENTATION EXPLAINS NOTHING

[2020-02-27 13:50] nathanvogel commented on #85
(this can now be closed as it's fixed by #87 )

[2020-02-27 14:09] #85 closed

[2020-03-04 07:38] azon0320 commented on #63
I got the same error.
@electron/autoUpdater and @electron-updater/autoUpdater are different things
@electron/autoUpdater gets RELEASE file and download latest .nupkg package whose path written in RELEASE
@electron-updater/autoUpdater gets latest.yml and download the latest .exe installer whose path written in latest.yml
For usage of electron-updater server, a static file service is enough
![image]

[2020-03-20 01:47] rwwagner90 opened #89 "Support .deb auto detect"
Is there a way to auto detect Ubuntu / deb and download the appropriate file, like we currently have for Mac and Windows?

[2020-04-06 12:39] TheNuclearCat commented on #63
Same problem, package is not usable like this.

[2020-04-06 12:42] TheNuclearCat commented on #63
Same problem, package is not usable like this @electron-updater/autoUpdater. Maybe its not supposed to be compatible with this.

[2020-04-06 12:43] TheNuclearCat commented on #63
Same problem, package is not usable like this with @electron-updater/autoUpdater. Maybe hazel is not supposed to be compatible...

[2020-05-05 12:25] sydney-d opened #91 "Is it caching assets ?"
Hello,

For public repositories, is Hazel caching the releases list :
for exemple this reponse `https://api.github.com/repos/electron/electron/releases`

Or does it cache the assets:
for example : `https://github.com/electron/electron/releases/download/v8.2.5/chromedriver-v8.2.5-darwin-x64.zip`

Thanks

[2020-05-07 19:09] b-zurg commented on #62
This is amazing.  Thanks so much @cap10morgan for this PR.

@leo Is this something you could spare some attention to?  It would be a huge benefit for those of us using this amazing project but within the constraints of a private repo without having to maintain our own fork of the project.

Something else to note, as of electron 8.2.5 it seems the parameter of `setFeedUrl` has changed to an object.

[2020-06-10 15:16] muscaiu opened #93 "does hazel support bitbucket ?"
Hello, wanted to know if Hazel can be used with Bitbucket.
Thanks.

[2020-06-16 19:00] shickk commented on #63
Same error.

[2020-06-29 16:11] DM164 opened #94 "RELEASES file can't be downloaded from the server"
I've already tried some of the solutions here on GitHub but just couldn't get it to work.
When I open the url: https://forget-me-not-update-server.vercel.app/update/win32/1.0.0/RELEASES it doesn't do anything at all and my app with electron autoupdater says that the file is corrupted/ doesn't exist because as mentioned before it's not downloadable.
The repository is private, hazel is hosted on Ver

[2020-07-18 16:55] DM164 commented on #94
Can anyone respond to this? Would be really helpful...

[2020-09-13 12:43] #91 closed

[2020-09-30 02:59] zhubinsheng commented on #36
i also want support gitlab

[2020-10-04 09:50] backroot commented on #62
This issue resolve in my pull request #98 .
Example for autoUpdater.ts.
[code]

[2020-10-04 09:52] backroot commented on #39
This issue resolve in my pull request #98 .
Example for autoUpdater.ts.
[code]

[2020-10-21 01:06] mattduffield opened #99 "GitHub limit to 100mb"
Hi everyone, I am trying to create a release using Electron Forge. It works fine but whenever I try to upload the `out` folder, GitHub complains that the files are too large.

How are you getting around this issue? Any help would be appreciated.

[2020-11-16 01:04] #67 closed

[2020-11-19 09:50] itsnwa commented on #41
Did something change in the GitHub API? I haven't updated the server or app, but the dmg route no longer works.

[2020-12-22 08:50] jes-wd commented on #94
I have the same issue. @DM164 did you ever figure it out?

[2020-12-22 09:17] DM164 commented on #79
I changed the cacheReleaseList function to this:
`  async cacheReleaseList(url) {
    const { token } = this.config;
    const headers = { Accept: "application/vnd.github.preview" };

    if (token && typeof token === "string" && token.length > 0) {
      headers.Authorization = `token ${token}`;
    }

    const res = await retry(
      async () => {
        const response = await fetch(url, { he

[2020-12-22 09:18] DM164 commented on #94
I changed the cacheReleaseList function to this:
` async cacheReleaseList(url) {
const { token } = this.config;
const headers = { Accept: "application/vnd.github.preview" };

if (token && typeof token === "string" && token.length > 0) {
  headers.Authorization = `token ${token}`;
}

const res = await retry(
  async () => {
    const response = await fetch(url, { headers });
    let buffer = await

[2020-12-22 11:48] jes-wd commented on #94
Thanks for the response.

I had already updated  the cacheReleaseList function to that but sadly I still don't get a RELEASES file at /update/win32/:version/RELEASES

[2020-12-22 13:18] DM164 commented on #94
I know, for me it's the same so I gave up trying to fix it and solved it by adding this to my code:
[code]

[2020-12-24 14:44] jes-wd commented on #94
Thanks. I ended up doing similar. I copied your code and modified it. I thought I'd leave it here in case anyone else needs it in the future. It's a bit rough right now but it works.

In renderer process:

[code]

and in my main process, I added the following:

[code]

  The `ensureDirExists()` function required in the main process looks like this:

[code]

[2021-05-03 07:53] pateljoel opened #105 "Downloading the update keeps timing out."
I'm using Vercel Hazel for updates and it keeps timing out.

![update_failed](https://user-images.githubusercontent.com/64401775/116852629-94ae1400-abec-11eb-89af-7e4b9a8a2632.png)

Since I am using Vercel, I can't find the exact line of why this is happening to debug this?

Anyone else having this issue?

Thanks.

[2021-05-25 15:14] samiragol commented on #93
this is my question too

[2021-06-02 10:50] truonghdpk commented on #63
any one explane for this error? is Hazel is support for private repo and download release ???

[2021-06-15 11:57] AadityaKhurana opened #111 ""Now" Cli is deprecated and there is no way to deploy hazel."
The "Now" Cli is deprecated and there is no way to use hazel. If there is an alternative, consider updating the readme

[2021-06-16 16:51] DM164 opened #112 "Deployable on Firebase?"
Does anyone know if there is a way to deploy hazel on Firebase? I really love the way it works but I don't like hosting it on Now.
Even just a link to a tutorial or a documentation would be appreciated.

[2021-06-19 18:41] jackcooper04 opened #113 "Unable to Deploy with Private Repo"
I am getting this error after trying to deploy using a private repo
[code]

When I deployed it I used
[code]
Am I missing something?

[2021-06-23 17:11] jeanlambert17 opened #114 "Does it work with azure repositories?"

[2021-07-23 12:19] leo commented on #111
Fixed! Cutting a release in the next few minutes.

[2021-07-23 12:19] #111 closed

[2021-07-23 12:19] leo commented on #113
Fixed! Cutting a release in the next few minutes.

[2021-07-23 12:19] #113 closed

[2021-07-23 12:20] leo commented on #57
Fixed! Cutting a release in the next few minutes.

[2021-07-23 12:20] #57 closed

[2021-07-23 13:37] leo commented on #49
Fixed! Cutting a new release shortly.

[2021-07-23 13:37] #49 closed

[2021-07-30 14:50] GorlikItsMe commented on #63
Same error here

[2021-08-06 11:22] sagarsoni7 commented on #112
+1

[2021-08-07 06:52] sagarsoni7 commented on #48
@dalbodeule
[code]

[2021-08-07 07:59] sagarsoni7 commented on #112
@DM164 https://gist.github.com/sagarsoni7/92bd8caea143ddeedbf4daff35d9d8fa

[2021-08-08 06:18] DM164 commented on #112
@sagarsoni7 Thanks 👍

[2021-08-08 06:18] #112 closed

[2021-08-13 04:19] dlamon1 opened #126 "404 Error from Github private repo"
I get a 404 error from Github when using a private repo. Am I missing something? The install form asked for my username and repository, it did not ask for a key or token. I have awarded my  Vercel account permission to access the Github repo, this did not change the 404 error.

Looking through the Hazel repository, I cannot find where my specific username and repository are declared. Are these var

[2021-08-13 18:17] dlamon1 commented on #126
Always, and I cannot stress this enough, read the documentation! Set the env variable TOKEN for private repos. As states in the Readme

[2021-08-19 10:28] EhsanFox opened #127 "[Question] Does hazel work with electron-updater module?"
hey, I'm trying to use my hazel for my app updates, I'm using `electron-builder` to get a build of my app, but the problem is it doesn't have a squirrel on it, so I have only 2 options

1- use `electron-forge`
2- use `electron-updater` instead of the one from electron

so I'm guessing using `electron-updater` is the easy way, but, I've never seen an example that works with hazel server, so I'm ope

[2021-08-22 08:18] jocrat commented on #127
currently it doesn't work with `electron-updater` because it doesn't serves `latest.yml`

[2021-08-22 10:47] EhsanFox commented on #127
how about `electron-forge` package? does it work with their [PublisherERS](https://js.electronforge.io/publisher/electron-release-server/interfaces/publisherersconfig) config?

[2021-08-22 17:38] jocrat commented on #63
I changed some files to make electron-updater works well.
I'm an amateur and only using Windows, so I can't insure if these codes work well.

### ./lib/routes.js
[code]

### ./lib/platform.js
[code]

### ./lib/cache.js
[code]

### ./lib/index.js
[code]

and then I removed `autoUpdater.setFeedURL({ url })` and added some stuff at `electron.js`:
[code]

[2021-08-22 17:41] jocrat commented on #127
I had done some stuffs to make hazel work with `electron-updater` module. Check out my answer at this issue: #63

[2021-08-26 00:33] EhsanFox opened #128 "Running on Heroku"
is there any way to run on Heroku? I don't wanna use the hazel module cuz I have some customization on the server that I did, so any idea? it keeps giving me an error that it crashed with 0 error/code.

[2021-09-06 15:39] #128 closed

[2021-09-23 14:26] byZeroOfficial commented on #36
Gitea would be great

[2021-09-24 06:25] tarikhaiga commented on #126
@dlamon1 I can't figure out how to set a `TOKEN` for my private repo. Where should I add this in my files? or is this run via a CLI command?

Any examples would be great!

[2021-09-24 16:10] ryandunnewold commented on #126
This is added inside of Vercel once you've deployed Hazel (https://vercel.com/ACCOUNT_NAME/PROJECT_NAME/settings/environment-variables)

<img width="1210" alt="Screen Shot 2021-09-24 at 11 10 20 AM" src="https://user-images.githubusercontent.com/5162248/134706993-171fb3ec-016e-45d0-939b-4432e9d43ac9.png">
l

[2021-09-24 16:14] ryandunnewold opened #131 "Keep getting "invalid JSON response" on private GitHub repo"
In the docs it says that private repos automatically sets the URL environment variable. It doesn't properly return it though and autoUpdater throws an error.

Here is my solution that worked for me after a few days of digging. This is here (https://github.com/vercel/hazel/blob/a06e6c5e4acdab0339c14361f086c3f6ff8a10fc/lib/routes.js#L162-L169)

[code]

[2021-09-26 05:59] tarikhaiga commented on #113
@jackcooper04 did the release by @leo workout for you at the end? Were you able to make autoupdates work with your private repo?

I've been stuck for sometime on how to make it work, would appreciate some input!

[2021-09-28 07:15] tarikhaiga commented on #126
Thanks @ryandunnewold ! I added both `TOKEN` and `GH_TOKEN` in the Environment Variables section on Vercel but it still does not trigger an update when one is available.

How did you manage to make auto-updating work for private repos?

[2021-09-28 13:04] ryandunnewold commented on #126
@tarikhaiga here was the issue I ran into (included my fix in there) https://github.com/vercel/hazel/issues/131

[2021-10-01 15:07] lukeshumard opened #132 "Programmatic Usage Documentation"
I've been using Hazel, but I believe there's an error in the documentation for [Programmatic Usage](https://github.com/vercel/hazel/blob/a073ccd35725ef381383757aab31ae8933bd531c/README.md#programmatic-usage). The following code from the README does not work as expected. The request hangs and never receives a response.
[code]
## Diagnostics
The issue is that [`package.json`](https://github.com/verc

[2021-10-01 16:43] Deliaz commented on #126
I had to redeploy the app to make it read `TOKEN` variable

[2021-10-18 02:23] tarikhaiga commented on #131
@ryandunnewold Thanks for sharing this! I'm quite new here, not really sure how I can use your fix with my own private repo?

[2021-12-06 15:24] hussa6 commented on #131
You can edit the files directly in your Vercel hazel fork.

[2021-12-14 19:16] dsegovia90 commented on #126
Thanks @Deliaz, redeploying worked for me 👍🏻

[2021-12-18 23:07] damms005 opened #135 "Documentation update"
For folks like us that have never used Vercel before until we encounter this awesome Hazel project, the sentence in the README that reads `You only need to click a button` is really confusing because after clicking the supposed `Deploy` button and setting everything up, it is required to still click the dropdown that reads `PROMOTE TO PRODUCTION` on the Vercel dashboard for the project.

The `You

[2021-12-23 17:33] busybox11 commented on #64
Hello,
Was this ever fixed?
It seems like I have the same issue and I don't know what to do.
Thanks in advance!

[2022-01-11 09:08] omerts commented on #131
This is a showstopper bug on macOS that should really be handled immediately. Also the documentation for configuring the server address is missing the https:// prefix.

[2022-01-11 10:13] omerts commented on #131
I changed it in my fork, but it still returns the old url, is there any other step that needs to be done? like clearing the a cache?

[2022-01-11 19:31] wobedi commented on #79
This comment provided the missing puzzle piece - thank you!!!
Based on it, the following diff made it work for me:

[code]

[2022-01-11 19:32] wobedi commented on #94
Sharing what worked for me:
https://github.com/vercel/hazel/issues/79#issuecomment-1010293920

[2022-01-11 19:32] wobedi commented on #81
Sharing what worked for me:
https://github.com/vercel/hazel/issues/79#issuecomment-1010293920

[2022-01-11 19:32] wobedi commented on #64
Sharing what worked for me:
https://github.com/vercel/hazel/issues/79#issuecomment-1010293920

[2022-01-17 16:47] WMordy commented on #63
any solutions made yet ?

[2022-01-17 21:36] WMordy commented on #63
Thanks this one did the trick

[2022-01-22 05:24] btribouillet commented on #131
Same issue here, I will update it in my fork as well.

[2022-03-22 16:48] sapogoteam opened #140 "How can i config my package.json when using hazel"
I had a promblem when using hazal
![image](https://user-images.githubusercontent.com/90883673/159531852-15d65b04-5f12-4e21-832a-6acfc43358ab.png)
My code:
![image](https://user-images.githubusercontent.com/90883673/159531956-3df7906e-65f5-418d-8c9a-9b3acf3cf8ee.png)
My config json:
![image](https://user-images.githubusercontent.com/90883673/159532013-738c721c-954c-48dc-a0ab-b722863f548e.png)

p/s:

[2022-04-16 12:59] rubenLindstrom commented on #140
Having the same issue

[2022-04-28 10:54] han6054 opened #144 "Why is the program integrated through vercel 404 ？"
My git repository created a release

A GitHub project electorn application project is created through vercel

[2022-05-01 09:45] ayorich commented on #135
yes, documentation wasn't clear on this. have to stumble on this before I knew there wasn't actually an error as it fails to run till I promote it to production. thanks

[2022-05-01 09:47] ayorich commented on #63
thanks for this, it really did the trick. Have to make some edits to suite my bundled app

[2022-06-03 13:53] DevPrasanStaqu commented on #140
Check this
https://github.com/vercel/hazel/issues/63

[2022-06-03 13:55] DevPrasan1 commented on #140
https://github.com/vercel/hazel/issues/63
Check this

[2022-06-07 20:26] rzfzr commented on #126
What's the leanest scope the token can have?

[2022-06-14 11:35] Nkzn commented on #131
I have same issue.

## Request

[code]

## Response

[code]

this response contains `"url":"my-hazel-server.vercel.app.vercel.app/download/darwin?update=true"`. this is wrong url.

[2022-06-18 20:33] hoodsy commented on #62
@Aarbel where do you get the `GITHUB_TOKEN` from?

[2022-06-18 21:03] cap10morgan commented on #62
This software is abandoned. Beware all ye who enter here.

[2022-06-19 16:45] hoodsy commented on #79
@wobedi thanks for sharing your solution
does it work for private repos? I was confused by `I think it breaks if you have a private repo and multiple nupkg rows in your RELEASES file.`

[2022-06-20 20:17] rzfzr commented on #144
Is it a private repo? Are you logged in?

[2022-06-20 20:50] rzfzr opened #145 "Does hazel supports release channels? Alpha/Beta/Latest/Prod...."
I'm having issues using autoUpdater.channel property, with no success.

https://www.electron.build/tutorials/release-using-channels.html

[2022-08-01 09:22] wenwuwu opened #150 "Error: Update check failed. The server sent an invalid JSON response"
I am implementing `auto update` feature for my `Electron` app. I am encountering an error:

[code]

This error is thrown from inside `Electron` node module, specifically from `Squirrel.framework`:
[code]

Part of my `electron` `main.js` code:

[code]

Some background information:

* I am testing on `M2-chip MacOS Monterey 12.4`. `Electron` version is `^19.0.8`
* I am using `autoUpdater` from `elec

[2022-08-14 22:53] Tulipesz commented on #62
Nuts and now hazel is abandoned. Any hints of any fork/project to implement autoupdater without needing signed code?

[2022-08-17 10:43] petem24 commented on #150
Having the exact same issue here

[2022-08-17 10:51] petem24 commented on #150
#131 - This issue fixed it for me.

[2022-09-19 22:17] TrofinSorin opened #152 "vercel dev must not recursively invoke itself."
Hello, i've deployed a hazel server for autoupdating electron app.

But i get this error when i try to start the server locally.

`vercel dev` must not recursively invoke itself. Check the Development Command in the Project Settings or the `dev` script in `package.json`

[2022-09-26 20:33] mikekberg commented on #152
I'm getting this as well, I got a bit further but added a new "start" task in package json scripts.

[code]

You can start the server by running `npm run start` but I run into other issues when hitting any route.

[2022-10-06 22:53] Angusross111 commented on #152
I got it running locally using [micro-dev](https://github.com/vercel/micro-dev) which is the suggested way to run micro in development.
[code]
You also need to add the required environment variables. I used [dotenv](https://www.npmjs.com/package/dotenv) and created a `.env` file in the root with:
[code]
and added `require('dotenv').config()` at the top of `/lib/index.js`

[2022-10-13 18:33] rizwan92 opened #153 "ReferenceError: Cannot access 'status' before initialization"
I am facing this issue

[code]

![Screenshot 2022-10-13 235358](https://user-images.githubusercontent.com/19162978/195678218-44603fc1-27b0-4458-88e1-8279a3236a4f.png)
![Screenshot 2022-10-14 000133](https://user-images.githubusercontent.com/19162978/195678224-2a3220c4-2350-41fa-965e-e0d17d852622.png)

[2022-10-14 10:27] rizwan92 commented on #153
i fixed the issue by applying this changes
![image](https://user-images.githubusercontent.com/19162978/195825578-fa4c0b40-4460-49e8-b3a7-8686dbe3613a.png)

[2022-10-14 10:34] rizwan92 commented on #153
but the issue is  hazel is trying to download the RELEASE FILE from my private repository release assets to update the windows squirrel framework
I console log the URL and headers
[code]

status 404 received but when I try to download the file by clicking on the link it is downloading the RELEASE file in my browser.

but I can download my exe and dmg files from hazel UI from this link https://rele

[2022-10-15 09:29] rizwan92 commented on #153
i fixed this issue by pulling this commit https://github.com/vercel/hazel/pull/149/commits/b5abe54603b5900b3416992bb5ce2038fcddf198

[2022-10-15 09:29] #153 closed

[2022-10-19 17:04] rizwan92 opened #154 "rizwan92 #0247 i am facing System.aggregate Exception 81513513 is notvalid string error while checking for update."
I have electron.js file
[code]

and hazel server running in vercel fetching my release from github repostitory image is attched .

after 60 seconds i am facing an error image is attached
i am usinf electron forge with gihub publish package to publish my release
[code]
![Screenshot 2022-10-19 135834](https://user-images.githubusercontent.com/19162978/196757513-00c4a0d9-3a0f-42ec-b24d-fe9721fa29e8.p

[2022-10-21 15:03] rizwan92 commented on #154
i am getting this logs at release path

[code]

[2022-10-27 21:24] user72356 commented on #152
I also have this issue with the following script:

`"dev": "vercel dev"`

I'm not sure what's recursive about it. Is the vercel cli trying to run the dev script? And why? Of course it can be fixed with using a different name for the script, but it bothers me.

`"vercel-dev": "vercel dev"`

[2022-11-04 18:35] excal1bu7 opened #155 "proxyPrivateDownload can't fetch asset"
I am using hazel programmaticly with private github repo
I meet issue that [proxyPrivateDownload](https://github.com/vercel/hazel/blob/a06e6c5e4acdab0339c14361f086c3f6ff8a10fc/lib/routes.js#L23) function always returns 404, if `Authorization` header is not set.

For example, assetRes without Authorization header:

[code]
  assetRes with Authorization header:

[code]
  Please, resolve this issue. I

[2022-11-12 15:21] SalahSharaf opened #156 "installing updates from vercel/hazel giving me error deployment path folder doesn't exists"
i tried to autoupdate my electron app with vercel/hazel but i get this issue

![update error](https://user-images.githubusercontent.com/33465920/201480871-bb647c62-42e2-4ca6-9001-8602291b09ae.jpg)

here's my git repo
![git-hub repo](https://user-images.githubusercontent.com/33465920/201480986-5b6d672c-7491-4679-a65d-45d19aff9176.jpg)

and here's the first release of my app containing the file I wa

[2022-11-16 13:08] LaurentDhont opened #158 "Protect releases in some way."
When creating releases on a private repo they cannot be seen. Obviously hazel has access to the token so it can (this is necaserry to ship the updates) but anyway with the link can go ahead and download a release (from the hazel deployment).
Is there any way to protect this?